$primary-white: #FFFFFF;
$primary-silver: #AFAFAF;
$secondary-mercury: #E1E1E1;
$secondary-alabaster: #FAFAFA;
$brainflix-black: #323232;
$brainflix-darkblack: #000000;
$brainflix-blue: #0095FF;
$brainflix-darkblue: #0065AD;