@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.description {
    margin: 4%;

    @include desktop {
        margin-right: 0;
    }

    &__title {
        margin-bottom: 0;
        padding-bottom: 0.8rem;
        font-size: 1.5rem;
        font-weight: 700;
        border-bottom: 1px solid $primary-silver;
        color: $brainflix-black;
        
        @include tablet {
            border: none;
            font-size: 1.9rem;
            width: 100%;
        }
    }
    
    &__container {
        display: flex;
        flex-wrap: wrap;
        color: $primary-silver;

        @include tablet {
            display: flex;
            margin: 0;
        }
    }

    &__socials {
        display: flex;

        @include tablet {
            margin-left: 4%;
            order: 3;
        }
    }

    &__artist {
        margin: 0.9rem 0 0rem;
        width: 50%;
        font-size: 0.9rem;
        font-weight: 700;
        color: $brainflix-black;
        
        @include tablet {
            width: fit-content;
            order: 0;
        }
    }

    &__views {
        margin: 0.8rem 0 0.5rem;
        width: 50%;
        color: $primary-silver;
        
        @include tablet {
            width: fit-content;
        }
    }
    
    &__dates {
        margin: 0.8rem 0 0.5rem;
        width: 50%;
        color: $primary-silver;
        
        @include tablet {
            width: fit-content;
            margin-right: auto;
            margin-left: 1rem;
            order: 2;
        }
    }
    
    &__likes {
        margin: 0.8rem 0 0.5rem;
        width: 50%;
        color: $primary-silver;
        
        @include tablet {
            width: fit-content;
        }

        @include desktop {
            padding-right: 1rem;
        }
    }

    &__icons {
        width: 1.2rem;
        padding: 0 0.4rem 0rem 0;
    }

    &__text {
        font-size: 0.82rem;
        margin-bottom: 0rem;
        line-height: 1.1rem;
        padding-top: 1rem;
        color: $brainflix-black;
        border-top: 1px solid $primary-silver;
        
        @include tablet {
            border: none;
            order: 4;
        }
        
        @include desktop {
            padding-right: 1rem;
        }
    }
}