@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.video {
    display: flex;
    justify-content: center;
    background-color: black;
    height: fit-content;

    &__screen {
        width: 100%;
        max-height: 75vh;

        @include tablet {
            max-width: 90%;
        }

        @include desktop {
            max-width: 80%;
        }
    }
}