@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;

.comment {
    margin: 4%;

    @include desktop {
        margin-right: 0;
    }

    &__count {
        color: $brainflix-black;
        font-size: 0.9rem;
    }

    &__container {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $primary-silver;
        padding-bottom: 1rem;
        
        @include tablet {
            height: 5rem;
        }
    }

    &__avatar {
        width: 2.6rem;
        height: 2.6rem;
        margin: 8% 2%;
        border-radius: 50%;
        object-fit: cover;
        object-position: 15% 100%;
        background: $primary-silver;

        @include tablet {
            margin: 1.5rem 0;
        }
    }

    &__form {
        display: flex;
        width: 14rem;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            width: 50rem;
        }
    }

    &__input {
        margin-right: auto;
    }

    &__subtitle {
        margin: 0 1.2rem 0.3rem 1rem;
        font-weight: 400;
        color: $primary-silver;
    }

    &__text {
        width: 12rem;
        background-color: $secondary-mercury;
        resize: none;
        border-style: none;
        border: 1px solid $primary-silver;
        border-radius: 6px;
        padding: 1rem;
        margin: 0 0rem 1rem 1rem;
        min-height: 5rem; 
        padding-right: 0;

        @include tablet {
            height: 1rem;
            margin: 0 1rem;
            width: 27rem;
            min-height: 0.5rem;
        }

        @include desktop {
            width: 23rem;
        }
    }

    &__button {
        width: 13rem;
        margin: 0 6%;
        padding: 0.6rem 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: $brainflix-blue;

        @include tablet {
            width: 10rem;
            height: 2rem;
            margin: 1.28rem 0 0 0;
        }

        @include desktop{
            margin-right: 4%;
        }
    }

    &__icon {
        margin-left: 0.3rem;
        width: 1.4rem;
    }

    &__upload {
        width: 90%;
        text-align: center;
        text-decoration: none;
        font-size: 0.78rem;
        color: $primary-white;
    }
}