@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.comment {
    margin: 4%;

    @include desktop {
        margin-right: 0;
    }

    &__count {
        margin-top: 0rem;
        font-size: 0.9rem;
        color: $brainflix-black;
    }

    &__container {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid $primary-silver;
        
        @include tablet {
            height: 5rem;
        }
    }

    &__avatar {
        width: 2.6rem;
        height: 2.6rem;
        margin: 8% 2%;
        border-radius: 50%;
        object-fit: cover;
        object-position: 15% 100%;
        background: $primary-silver;

        @include tablet {
            margin: 1.5rem 0;
        }
    }

    &__form {
        width: 100%;
        display: flex;
        margin-left: 4%;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            width: 50rem;
        }
    }

    &__input {
        width: 91%;
        margin: 0;
    }

    &__subtitle {
        margin: 0 1.2rem 0.3rem 0rem;
        font-weight: 400;
        color: $primary-silver;
    }

    &__text {
        width: 94%;
        min-height: 5rem; 
        padding: 1rem;
        margin: 0 6% 1rem 0rem;
        resize: none;
        outline: none;
        border-style: none;
        border-radius: 6px;
        border: 1px solid $primary-silver;
        background-color: $secondary-mercury;

        @include tablet {
            width: 87%;
            height: 1rem;
            min-height: 0.5rem;
            padding: 0.8rem 1rem;
        }

        @include desktop {
            width: 85%;
        }
    }

    &__button {
        width: 97%;
        margin: 0;
        padding: 0.6rem 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        transition: 0.5s ease-in-out;
        background-color: $brainflix-blue;

        &:hover {
            background-color: $brainflix-darkblue;
        }

        @include tablet {
            width: 30%;
            height: 2rem;
            padding: 0.4rem 0.2rem;
            margin: 1.28rem 0 0 0;
        }

        @include desktop{
            width: 35%;
            margin-right: 4%;
        }
    }

    &__icon {
        width: 1.4rem;
        margin-left: 0.3rem;
    }

    &__upload {
        width: 90%;
        text-align: center;
        text-decoration: none;
        font-size: 0.78rem;
        color: $primary-white;
    }
}

.user-comments {
    list-style: none;
    padding: 0;

    &__icon {
        width: 2.8rem;
        height: 2.8rem;
        margin-top: 2rem;
        margin-top: 0;
        border-radius: 50%;
        object-fit: cover;
        object-position: 10% 100%;
        background: $secondary-mercury;

        @include tablet {
            margin-top: 1rem;
        }
    }

    &__feedback {
        line-height: 2rem;
        font-weight: 700;
        display: flex;
        margin-top: 1rem;
        border-bottom: 1px solid $primary-silver;
    }
    
    &__name {
        width: 50%;
        display: flex;
        align-items: flex-start;
        margin-left: 5%;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 0.8rem;
        font-weight: 700;
        color: $brainflix-black;

        @include tablet {
            margin-bottom: -0.4rem;
        }
    }

    &__time {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 41%;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 0.8rem;
        color: $primary-silver;

        @include tablet {
            margin-bottom: -0.4rem;
            margin-left: auto;
        }

        @include desktop{
            margin-right: 4%;
        }
    }

    &__box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &__message {
        margin-top: 3%;
        margin-left: 5%;
        line-height: 1.3rem;
        font-size: 0.85rem;
        color: $brainflix-black;

        @include tablet {
            margin: 1% 0 3% 5%;
            font-size: 0.9rem;
        }

        @include desktop{
            margin-right: 4%;
        }
    }
}