@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.next-videos-section {
    margin: 4%;

    &__subtitle {
        margin-bottom: 0; 
        color: $primary-silver;       
    }

    &__container {
        list-style: none;
        padding-left: 0;
    }

    &__cards {
        display: flex;
        margin: 0;
        width: 50%;
    }

    &__timg {
        margin: 0.6rem 0;
        object-fit: cover;
        object-position: 10% 35%;
        min-width: 7rem;
        max-width: 7rem;
        height: 4.3rem;
        border-radius: 8px;
    }

    &__info {
        margin: 4%;
        width: 8rem;
    }

    &__title {
        width: 10rem;
        font-size: 0.78rem;
        font-weight: 700;
        margin: 4%;
        color: $brainflix-black;
    }
    
    &__author {
        font-size: 0.8rem;
        margin: 4%;
        color: $brainflix-black;
    }
}